name: Build and Deploy to GitHub Registry

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ophiosdev/squid

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        id: checkout
        uses: actions/checkout@v5

      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> "$GITHUB_OUTPUT"

      - name: Validate Semver
        id: semver
        uses: matt-usurp/validate-semver@v2
        with:
          version: ${{ steps.get_version.outputs.VERSION }}

      - name: Log in to the Container registry
        id: login_registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}
          labels: |
            org.opencontainers.image.maintainer=Ophios GmbH

      - name: Build image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          tags: squid:local-build
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            SQUID_VERSION=${{ steps.get_version.outputs.VERSION }}

      - name: Extract SBOM
        run: |
          docker create --name temp-container squid:local-build
          docker cp temp-container:/sbom.spdx.json ./sbom.spdx.json
          docker rm temp-container
          ls -lh ./sbom.spdx.json

      - name: Push Image with SBOM Attestation
        uses: docker/build-push-action@v6
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # This attaches the extracted file as an OCI attestation
          attests: type=sbom,src=./sbom.spdx.json
